<h2 mat-dialog-title>Choose a hero</h2>

<div 
  *ngIf="!playerNotified; then notifyPlayer; else selectHero"
></div>

<ng-template #notifyPlayer>
  <mat-dialog-content>
    A new bidding phase starts. {{ data.request.player }} must choose a hero.
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="playerNotified = true">
      Choose hero
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #selectHero>
  <mat-dialog-content>
    <swiper [slidesPerView]="1" [spaceBetween]="50" [setWrapperSize]="true">
      <ng-template swiperSlide *ngFor="let hero of data.request.options">
  
        <mat-card class="mat-elevation-z0 hero-card">
          <mat-card-title-group>
            <mat-card-title>{{ hero.type | titlecase }}</mat-card-title>
            <img mat-card-sm-image src="{{ hero.image }}">
          </mat-card-title-group>
          
          <mat-card-content class="hero-stats">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Description
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                <p class="mat-caption">{{ hero.description }}</p>
              </mat-expansion-panel>
  
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Hit Points
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                <dl class="mat-caption hero-hit-points-dl">
                  <dt>From hero</dt>
                  <dd>{{ hero.baseHitPoints }} HP</dd>
                  
                  <dt>From equipment</dt>
                  <dd>{{ calculateEquipmentHitPoints(hero) }} HP</dd>
  
                  <dt>TOTAL</dt>
                  <dd>
                    {{ hero.baseHitPoints + calculateEquipmentHitPoints(hero) }} 
                    HP
                  </dd>
                </dl>
              </mat-expansion-panel>
  
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Equipment
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                <swiper [slidesPerView]="1"
                  [spaceBetween]="50" 
                  [pagination]="{ type: 'fraction' }"
                >            
                  <ng-template swiperSlide *ngFor="let piece of hero.equipment">
                    <dungeon-equipment-view 
                      [piece]="piece" [smallComponent]="true"
                    >
                    </dungeon-equipment-view>
                  </ng-template>
                </swiper>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
  
      </ng-template>
    </swiper>
  </mat-dialog-content>
  
  <mat-dialog-actions class="hero-select-actions">
    <span class="navigation">
      <button mat-icon-button color="primary" 
        (click)="previousHero()"
        [disabled]=" swiper ? swiper.swiperRef?.isBeginning : true"
      >
        <mat-icon>arrow_back_ios_new</mat-icon>
      </button>
      <button mat-icon-button color="primary" 
        (click)="nextHero()"
        [disabled]="swiper ? swiper.swiperRef?.isEnd : true"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </span>
  
    <button mat-raised-button color="accent" 
      [mat-dialog-close]="swiper ? currentHero : undefined"
    >
      Choose
    </button>
  </mat-dialog-actions>
</ng-template>
