<div>
  <header>
    <h1>Into the Dungeon</h1>
    <p>
      Multi-player game to play online or sharing a single device
    </p>
  </header>

  <ol>
    <li>Pick the hero who will enter the dungeon</li>
    <li>Fill the dungeon with monsters</li>
    <li>Remove pieces of the hero's equipment</li>
    <li>Run away or dare to enter the dungeon</li>
    <li>Survive two dungeons or get other players killed</li>
  </ol>
</div>

<div class="mat-caption warning">
  <p>
    This game is a prototype: 
    <a 
      href="https://github.com/darioscattolini/into-the-dungeon-v2#readme"
      target="_blank">
      Find out more about its current state and expected improvements.
    </a>
  </p>
  <p>
    The design fits only mobile devices for now: if your screen is larger, use 
    your browser's dev tools to set the viewport size at 360x640px.
  </p>
</div>

<div>
  <h2>Choose how to play</h2>
  <div class="buttons">
    <button mat-raised-button color="accent" routerLink="{{ paths.oneDevice }}">
      One Device
    </button>
    <button mat-raised-button color="accent" disabled 
      routerLink="{{ paths.online }}"
    >
      Online
    </button>
  </div>
</div>
