@import '~swiper/swiper.scss';
@import '~swiper/components/pagination/pagination.scss';

* {
  box-sizing: border-box;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dcdfe0;
}

// Overrides

.hero-stats .swiper-pagination {
  position: static;
}
