<div class="tabular-flex">
  <p class="mat-body-strong">{{ hero.type | titlecase }}</p>
  <p>{{ hero.hitPoints }} hit points</p>
</div>

<div class="tabular-flex">
  <p class="mat-body-strong mat-caption">Equipment</p>
  <p class="mat-caption" [ngPlural]="hero.equipment.length">
    <ng-template ngPluralCase="=0">No pieces</ng-template>
    <ng-template ngPluralCase="=1">1 piece</ng-template>
    <ng-template ngPluralCase="other">
      {{ hero.equipment.length }} pieces
    </ng-template>
  </p>
</div>

<div *ngIf="hero.equipment.length > 0" class="swiper-container">
  <div>
    <button mat-icon-button color="primary" 
      (click)="previousEquipment()"
      [disabled]="equipmentSwiper?.swiperRef?.isBeginning"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>

  <swiper [slidesPerView]="1" [spaceBetween]="50" #equipmentSwiper>
    <ng-template swiperSlide *ngFor="let piece of hero.equipment">
      <dungeon-equipment [miniComponent]="true" [piece]="piece">
      </dungeon-equipment>
    </ng-template>
  </swiper>

  <div>
    <button mat-icon-button color="primary" 
      (click)="nextEquipment()"
      [disabled]="equipmentSwiper?.swiperRef?.isEnd"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<div class="tabular-flex">
  <p class="mat-body-strong">Dungeon</p>
  <p [ngPlural]="dungeon.length">
    <ng-template ngPluralCase="=0">No monsters</ng-template>
    <ng-template ngPluralCase="=1">1 monster</ng-template>
    <ng-template ngPluralCase="other">{{ dungeon.length }} monsters</ng-template>
  </p>
</div>

<div *ngIf="dungeon.length > 0" class="swiper-container">
  <div>
    <button mat-icon-button color="primary" 
      (click)="previousMonster()"
      [disabled]="monsterSwiper?.swiperRef?.isBeginning"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>

  <swiper [slidesPerView]="1" [spaceBetween]="50" #monsterSwiper>
    <ng-template swiperSlide *ngFor="let monster of dungeon">
      <dungeon-monster [miniComponent]="true" [monster]="monster">
      </dungeon-monster>
    </ng-template>
  </swiper>

  <div>
    <button mat-icon-button color="primary" 
      (click)="nextMonster()"
      [disabled]="monsterSwiper?.swiperRef?.isEnd"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<div class="tabular-flex">
  <p class="mat-body-strong">Monsters to add</p>
  <p>{{ remainingMonsters }}</p>
</div>

<mat-divider></mat-divider>

<div class="tabular-flex">
  <p class="mat-body-strong">Bidding players</p>
  <p>{{ remainingPlayers }}</p>
</div>
