@use '~@angular/material' as mat;
@use '../../../../styles' as theme;

mat-divider {
  margin-top: 12px;
  margin-bottom: 12px;
}

.tabular-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabular-flex p {
  margin-bottom: 0;
}

.swiper-container {
  display: flex;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
}

.swiper-container swiper {
  flex-grow: 1;
}

.warning {
  color: mat.get-color-from-palette(theme.$dungeon-front-warn);
  line-height: 1.1;
}
